*.code-workspace
Kļūdu_žurnāls_Sintakses_pamati_SandisD.xlsx
Kļūdu_žurnāls_DarbsArFailiem_SandisD.xlsx
Kļūdu_žurnāls_DatuVizualizācija_SandisD.xlsx
Kļūdu_žurnāls_DatuIegūšanaNoWebResursiem_SandisD.xlsx
Kļūdu_žurnāls_ProjektaIzstrāde_SandisD.xlsx
results.xlsx
events.csv

# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
*/.venv/
*/venv/

# VS Code
.vscode/

# Windows metadata
*Zone.Identifier